In [239]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [240]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
617,tt1010048,15000000,377910544,Slumdog Millionaire,Dev Patel|Freida Pinto|Anil Kapoor|Mia Drake I...,Danny Boyle|Loveleen Tandan,What does it take to find a lost love? A. Mone...,Jamal Malik is an impoverished Indian teen who...,120,Drama|Romance,Celador Films|Warner Bros.|Film4,5/12/2008,7.5,2008
1113,tt0298814,60000000,74208267,The Core,Aaron Eckhart|Hilary Swank|Delroy Lindo|Stanle...,Jon Amiel,Earth has a deadline.,Geophysicist Dr. Josh Keyes discovers that an ...,136,Action|Thriller|Adventure|Science Fiction,Paramount Pictures|David Foster Productions|Ho...,3/28/2003,5.3,2003
1275,tt0790628,30000000,27437881,The Incredible Burt Wonderstone,Steve Carell|Jim Carrey|Steve Buscemi|Olivia W...,Don Scardino,Abracatastic!,After breaking up with his longtime stage part...,100,Comedy,New Line Cinema|Benderspink|Carousel Productions,3/14/2013,5.2,2013
624,tt0499448,225000000,419651413,The Chronicles of Narnia: Prince Caspian,Ben Barnes|William Moseley|Anna Popplewell|Ska...,Andrew Adamson,Hope has a new face.,One year after their incredible adventures in ...,150,Adventure|Family|Fantasy,Walt Disney|Walden Media|Stillking Films|Ozumi...,5/15/2008,6.1,2008
713,tt1027862,21000000,17600000,Swing Vote,Kevin Costner|Madeline Carroll|Paula Patton|Ke...,Joshua Michael Stern,One ordinary guy is giving the candidates a re...,"In a remarkable turn of events, the result of ...",120,Drama|Comedy,Touchstone Pictures,8/1/2008,5.7,2008

In [241]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [242]:
answers = {} # создаём словарь для ответов

In [243]:
# Другие предобработки колонок:

# Переводим даты выхода фильмов из строк в даты:
data.release_date = pd.to_datetime(data.release_date)

# Добавляем колонку с прибылью:
data['profit'] = data.revenue - data.budget

# Переименовываем колонку 'original_title' в 'name' (чтобы меньше печатать :D):
data = data.rename(columns={'original_title' : 'name'})

# Проверяем, что получилось после предобработки:
display(data.head())

,imdb_id,budget,revenue,name,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [244]:
data.sort_values('budget', ascending=False).iloc[0][['name', 'imdb_id']]

name       Pirates of the Caribbean: On Stranger Tides
imdb_id                                      tt1298650
Name: 723, dtype: object

ВАРИАНТ 2

In [245]:
data[data.budget == data.budget.max()][['name', 'imdb_id']]

                                            name    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

In [246]:
# Добавляем номер вопроса и ответ на него в словарь:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [247]:
data[data.runtime == data.runtime.max()][['name', 'imdb_id']]

                   name    imdb_id
1157  Gods and Generals  tt0279111

In [248]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [249]:
data[data.runtime == data.runtime.min()][['name', 'imdb_id']]

                name    imdb_id
768  Winnie the Pooh  tt1449283

In [250]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [251]:
round(data.runtime.mean())

110

In [252]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [253]:
round(data.runtime.median())

107

In [254]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [255]:
data[data.profit == data.profit.max()][['name', 'imdb_id']]

       name    imdb_id
239  Avatar  tt0499549

In [256]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [257]:
data[data.profit == data.profit.min()][['name', 'imdb_id', 'budget', 'revenue']]

                 name    imdb_id     budget   revenue
1245  The Lone Ranger  tt1210819  255000000  89289910

In [258]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [259]:
data[data.revenue > data.budget].name.count()

1478

In [260]:
answers['8'] = data[data.revenue > data.budget].name.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [261]:
data2 = data[data.release_year == 2008]
data2[data2.revenue == data2.revenue.max()][['name', 'imdb_id']]

                name    imdb_id
599  The Dark Knight  tt0468569

In [262]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [263]:
data3 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data3[data3.profit == data3.profit.min()][['name', 'imdb_id']]

                 name    imdb_id
1245  The Lone Ranger  tt1210819

ВАРИАНТ 2

In [264]:
data3 = data[data.release_year.between(2012, 2014)]
data3[data3.profit == data3.profit.min()][['name', 'imdb_id']]

                 name    imdb_id
1245  The Lone Ranger  tt1210819

In [265]:
answers['10'] = 'The Lone Ranger (ВАРИАНТ 2tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [266]:
data.genres.value_counts().index[0]

'Comedy'

ВАРИАНТ 2

In [267]:
answers['11'] = data.genres.value_counts().index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [268]:
data.groupby(['genres']).sum().sort_values('profit', ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
genres,,,,,,
Comedy,4806800000,13824627476,14154,820.5,283177,9017827476
Adventure|Fantasy|Action,1561000000,7428942514,1619,73.8,22077,5867942514
Comedy|Romance,2258500000,7780858585,6280,347.3,120375,5522358585
Drama,3208730000,8387405274,12355,682.5,204836,5178675274
Adventure|Fantasy|Family,1200000000,5775626907,1141,56.5,16044,4575626907
...,...,...,...,...,...,...
Thriller|Science Fiction|Adventure|Action,80000000,5989640,110,4.8,2005,-74010360
Thriller|Crime|Mystery,152500000,75412591,295,19.6,6022,-77087409
Adventure|Animation|Action|Comedy|Family,151000000,48731731,183,9.6,4001,-102268269
Western|History|War,145000000,25819961,137,5.9,2004,-119180039
Action|Adventure|Western,255000000,89289910,149,6.0,2013,-165710090

In [269]:
answers['12'] =

SyntaxError: invalid syntax (<ipython-input-269-2a7b7a7c3ed0>, line 1)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
data4 =

In [ ]:
answers[''] =

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers[''] =

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers[''] =

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers[''] =

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers[''] =

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers[''] =

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data.groupby(['release_year']).sum().sort_values('revenue', ascending=False).index[0]

In [270]:
answers['19'] = data.groupby(['release_year']).sum().sort_values('revenue', ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers[''] =

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers[''] =

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers[''] =

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers[''] =

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers[''] =

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers[''] =

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers[''] =

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [271]:
# Просматриваем все ответы:
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (ВАРИАНТ 2tt1210819)',
 '11': 'Comedy',
 '19': 2015}

In [ ]:
# проверяем количество ответов (должно быть 27)
len(answers)