In [83]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [84]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008
1791,tt0437954,38000000,5410749,Virgin Territory,Ryan Cartwright|Hayden Christensen|Mischa Bart...,David Leland,Anything Can Happen When You're In ... Virgin ...,The film is set in Tuscany during the Black De...,93,Adventure|Action|Comedy|Romance,Ingenious Film Partners|Dino de Laurentiis Cin...,12/17/2007,4.5,2007
1482,tt0475394,17000000,57103895,Smokin' Aces,Ryan Reynolds|Ray Liotta|Joseph Ruskin|Alex Ro...,Joe Carnahan,Nobody gets away clean.,When a Las Vegas performer-turned-snitch named...,109,Action|Comedy|Crime|Thriller,Universal Pictures|StudioCanal|Relativity Medi...,12/9/2006,6.3,2006
1749,tt0462244,6000000,18197398,Daddy Day Camp,Cuba Gooding Jr.|Tamala Jones|Paul Rae|Lochlyn...,Fred Savage,The summer is going to be in tents.,Seeking to offer his son the satisfying summer...,89,Comedy|Family,Revolution Studios|TriStar Pictures,8/8/2007,4.8,2007
1434,tt0383574,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Gore Verbinski,Jack is back!,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/2006,6.8,2006

In [85]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [86]:
answers = {} # создаём словарь для ответов

In [87]:
# Другие предобработки колонок:

# Переводим даты выхода фильмов из строк в даты:
data.release_date = pd.to_datetime(data.release_date)

# Добавляем колонку с прибылью:
data['profit'] = data.revenue - data.budget

# Переименовываем колонку 'original_title' в 'name' (чтобы меньше печатать :D):
data = data.rename(columns={'original_title' : 'name'})

# Проверяем, что получилось после предобработки:
display(data.head())

,imdb_id,budget,revenue,name,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [88]:
data.sort_values('budget', ascending=False).iloc[0][['name', 'imdb_id']]

name       Pirates of the Caribbean: On Stranger Tides
imdb_id                                      tt1298650
Name: 723, dtype: object

ВАРИАНТ 2

In [89]:
data[data.budget == data.budget.max()][['name', 'imdb_id']]

                                            name    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

In [90]:
# Добавляем номер вопроса и ответ на него в словарь:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [91]:
data[data.runtime == data.runtime.max()][['name', 'imdb_id']]

                   name    imdb_id
1157  Gods and Generals  tt0279111

In [92]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [93]:
data[data.runtime == data.runtime.min()][['name', 'imdb_id']]

                name    imdb_id
768  Winnie the Pooh  tt1449283

In [94]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [95]:
round(data.runtime.mean())

110

In [107]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [108]:
round(data.runtime.median())

107

In [109]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [110]:
data[data.profit == data.profit.max()][['name', 'imdb_id']]

       name    imdb_id
239  Avatar  tt0499549

In [100]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [101]:
data[data.profit == data.profit.min()][['name', 'imdb_id', 'budget', 'revenue']]

                 name    imdb_id     budget   revenue
1245  The Lone Ranger  tt1210819  255000000  89289910

In [102]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [111]:
data[data.revenue > data.budget].name.count()

1478

In [113]:
answers['8'] = data[data.revenue > data.budget].name.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] =

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] =

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [ ]:
answers['11'] =

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] =

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers[''] =

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers[''] =

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers[''] =

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers[''] =

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers[''] =

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers[''] =

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers[''] =

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers[''] =

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers[''] =

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers[''] =

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers[''] =

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers[''] =

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers[''] =

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers[''] =

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [104]:
# Просматриваем все ответы:
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)'}

In [ ]:
# проверяем количество ответов (должно быть 27)
len(answers)